.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 120px;
  border: none;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  gap: 15px;
}

.root img {
  --size: 42px;
  height: var(--size);
  width: var(--size);
}

h1 {
  margin: 0;
  height: 38px;
  margin-top: -8px;
}

button {
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

a,
a:hover,
a:active {
  color: black;
}
